@{
    ViewBag.Title = "tripdetail";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- TITLE -->
    <title>Gofar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/awe-booking-font.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/jquery-ui.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/demo.css">

    <!-- CSS COLOR -->
    <link id="colorreplace" rel="stylesheet" type="text/css" href="~/Content/css/colors/blue.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <style>
        input {
            width: 35%;
            margin-bottom: 2%;
            border-radius: 5px;
        }

        select {
            margin-bottom: 3%;
            border-radius: 5px;
        }

        label {
            font-size: 20px;
        }
    </style>

</head>

<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body>
    <!--<![endif]-->
    <!-- PAGE WRAP -->
    <div id="page-wrap">
        <!-- PRELOADER -->
        <div class="preloader"></div>
        <!-- END / PRELOADER -->
        <!-- HEADER PAGE -->
        @Html.Partial("_header")
        <!-- END / HEADER PAGE -->
        <!-- HEADING PAGE -->
        <div class="container">
            <!-- BREADCRUMB -->
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><span>Trip</span></li>
                </ul>
            </div>
            <!-- BREADCRUMB -->

        </div>
        <!-- END / HEADING PAGE -->

        <section style="color: white;background-color:#ada3a3; background-image: url('../../Images/tripbg.jpg'); background-repeat:no-repeat; background-position:center; background-size:cover">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ">
                        <div class="contact-page__form">
                            <div class="title" style="color:white">
                                <span style="color:white">We need some information</span>
                                <h2>Trip Form</h2>
                                <form action="~/Home/savetrip" method="post">
                                    <div class="form-group">
                                        <div class="form-elements">
                                            <label>From</label>
                                            <div class="form-item">
                                                <i class="awe-icon awe-icon-marker-1"></i>
                                                <input type="text" name="from" value="Ho Chi Minh, Hanoi, Vietnam" required>
                                            </div>
                                        </div>
                                        <div class="form-elements">
                                            <label>To</label>
                                            <div class="form-item">
                                                <i class="awe-icon awe-icon-marker-1"></i>
                                                <input type="text" name="to" value="Ankara, Turkey" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-elements">
                                            <label>Depart on</label>
                                            <div class="form-item">
                                                <i class="awe-icon awe-icon-calendar"></i>
                                                <input type="text" name="departon" class="awe-calendar" value="Check in" required>
                                            </div>
                                        </div>
                                        <div class="form-elements">
                                            <label>Return on</label>
                                            <div class="form-item">
                                                <i class="awe-icon awe-icon-calendar"></i>
                                                <input type="text" name="returnon" class="awe-calendar" value="Check out" required>
                                            </div>
                                        </div>
                                        <div class="form-elements">
                                            <label>Adult</label><small>&nbsp&nbsp12 year old or above</small><br />
                                            <!--<input type="text" name="adults" placeholder="3">-->
                                            <select name="adults">
                                                <option value="null">Select..</option>
                                                <option value="1" selected>1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">More than 10</option>
                                            </select>

                                        </div>
                                        <div class="form-elements">
                                            <label>Kids</label><br />
                                            <select name="kids">
                                                <option value="null">Select..</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">More than 10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-elements">
                                            <label>Budget</label><br />
                                            <input type="text" name="budget" placeholder="Rs 150000" required>

                                        </div>
                                        <div class="form-elements">
                                            <label>Phone Number</label>
                                            <div class="form-item">
                                                <input type="text" name="phoneno" pattern="[\+]\d{2}\d{2}\d{4}\d{4}" placeholder="+923331234567" required />
                                            </div>
                                        </div>
                                        <div class="form-elements">
                                            <label>Email</label>
                                            <div class="form-item">
                                                <input type="email" name="email" placeholder="abc@email.com" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <b><input type="submit" value="SUBMIT" style="color: white;padding:1.5%; width:10%;"></b>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- FOOTER PAGE -->
        @Html.Partial("_footer")
        <!-- END / FOOTER PAGE -->

    </div>
    <!-- END / PAGE WRAP -->
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="~/Content/js/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/jquery.owl.carousel.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3"></script>
    <script type="text/javascript" src="~/Content/js/lib/md-map-extend.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/perfect-scrollbar.min.js"></script>
    <script type='text/javascript' src="~/Content/js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Content/js/scripts.js"></script>
</body>
</html>
